@import "../../scss/base/base";
@import "../../scss/utils/variables";
@import "../../scss/utils/mixins";


.user {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
//    justify-content: space-between;
   &--info {
       margin-left: 1rem;
       &__name {
           font-size: 1rem;
           font-weight: 600;
           color: $secondary-color;
       }
       &__title {
           font-size: 0.7rem;
           font-weight: 400;
           color: #BBBBBB;
       }
   }
   &--actions {
       margin-left: auto;
       &__btn {
           padding: 12px !important;
       }
   }
}

@import "../../scss/utils/responsive";